
<form [formGroup]="bookFormGroup" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên cuốn sách:</td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Tên tác giả:</td>
      <td><input type="text" formControlName="author"></td>
    </tr>
    <tr>
      <td>Mô tả về cuốn sách</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Tạo mới</button></td>
    </tr>
  </table>
</form>


